section.navigation
	#mainNavbar.nav.navbar.navbar-expand-md.navbar-light.py-0.fixed-top
		.container
			a.navbar-brand(href='#') Dylan Kieu
			button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
				span.navbar-toggler-icon
			#navbarSupportedContent.collapse.navbar-collapse.justify-content-end
				ul.navbar-nav
					li.nav-item.active
						a.nav-link(href='/') Home
						span.sr-only (current)
					li.nav-item
						a.nav-link(href='#firstsection') About
					li.nav-item
						a.nav-link(href='#secsection') Work
					li.nav-item
						a.nav-link(href='#project') Projects
					li.nav-item
						a.nav-link#resumePDF(href="files/resume.pdf") Resume
					if (loggedin)
						li.nav-item
							a.nav-link(href=`CMS route here`) CMS Overview
						li.nav-item
							a.nav-link(href='logout') Logout